
      body {
      margin: 10;
      padding: 10;
      box-sizing: border-box;
      font-family: sans-serif;
    }
    #clock {
      height: 100vh;
      width: 100%;
      background-color: #1c0244;
      color: #ebb4e2;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 100px;
    }